:root {
  font-family: "Manrope", sans-serif;
  --green: rgba(55, 112, 120);
}

body {
  height: 100vh;
  background-image: url("snowBg4.jpg");
  background-size: cover;
}

/*button to start shooting*/
.btnContainer {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid black;
  font-size: 26px;
  outline: none;
  cursor: none;
  margin: 0 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(188, 191, 201, 0.7);
  color: black;
  font-family: "Manrope", sans-serif;
}

.archer {
  border-radius: 50%;
  position: absolute;
  display: grid;
  border: 0.5px solid var(--green);
  height: 250px;
  width: 250px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.outerCircle {
  border-radius: 50%;
  background-image: url("https://images.unsplash.com/photo-1576072320516-24b83088e525?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hyaXN0bWFzJTIwd3JhcHBpbmclMjBwYXBlcnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: contain;
  grid-column: 1/11;
  grid-row: 1/11;
}

.innerCircle {
  border-radius: 50%;
  border: 0.5px solid var(--green);
  background-image: url("https://images.unsplash.com/photo-1576072446580-32468f1b5439?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;
  grid-column: 2/10;
  grid-row: 2/10;
}

.centerCircle {
  border-radius: 50%;
  border: 0.5px solid var(--green);
  background-image: url("https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D");
  background-size: contain;
  grid-column: 3/9;
  grid-row: 3/9;
}

.bullseye {
  border-radius: 50%;
  border: 0.5px solid var(--green);
  background-image: url("https://images.unsplash.com/photo-1601549448493-4ab2493446b4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNocmlzdG1hcyUyMHdyZWF0aHxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-size: contain;
  grid-column: 4/8;
  grid-row: 4/8;
}

/*cursor*/
.archerContainer {
  position: relative;
  height: 100%;
}

.cursor {
  position: absolute;
  height: 50px;
  z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.3s transform ease;
  transform-origin: 100% 100%;
}

.present {
  height: 50px;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
}

img::selection {
  background: transparent;
}
