:root {
  --font: "Manrope", sans-serif;
  --bg: #efe3de;
  --container: #ffede8;
  --text: #151515;
  --green: #a8e26f;
  --blue: #98ecdc;
  --pink: #ff9eb9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
  line-height: 1.4;
}

.pg-wrapper {
  margin: 3rem 1rem;
  padding: 2rem;
  width: 80%;
}

.header {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

#extendBorder {
  border: 2px solid black;
}

.testContainer {
  position: relative;
  font-size: 0.8rem;
  right: 10px;
  bottom: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--container);
  height: 100%;
}

.ri-double-quotes-r {
  display: flex;
  justify-content: flex-end;
}

.credit {
  font-weight: 600;
  font-size: 0.8rem;
}

.testDetail h3 {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* each testimonial box */
.card01 {
  box-shadow: 2px 3px 3px -2px var(--blue);
}

.card02 {
  box-shadow: 2px 3px 3px -2px var(--green);
}
.card03 {
  box-shadow: 2px 3px 3px -2px var(--pink);
}

/*footer*/
.source {
  color: #3c5e58;
}

/* svg backdrop */
#noiseFilter {
  width: 250px;
  height: 250px;
  filter: contrast(170%) brightness(1000%);
  background: linear-gradient(0deg, rgba(0, 0, 255, 1), rgba(0, 0, 0, 0)),
    url(/👆/that/noise.svg);
}

body::before,
body::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 40%;
}

body::before {
  background: #8c8c8c;
  filter: url(#noiseFilter);
}

/* media queries */
@media (max-width: 1024px) {
  .pg-wrapper {
    margin: 1rem 0;
  }
  .testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 720px) {
  .pg-wrapper {
    width: 100%;
  }
  .testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
}
