:root {
  --royal-green: #036654;
  --gold: #ffd166;
  --green-accent: #354b45;
  --text-black: #000;
  --text-white: #ffeef2;
  --text-dark-gray: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", sans-serif;
}

body {
  font-family: "Bitter", sans-serif;
  background: var(--royal-green);
  display: grid;
  place-items: center;
  line-height: 1.4;
  min-height: 100vh;
}

.container {
  background-color: var(--green-accent);
  width: 80%;
  margin: 3rem 0;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--green-accent);
  color: var(--gold);
  align-items: center;
}

.menu-links,
.menu-inputs {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  font-weight: 500;
}

.menu-links a,
.menu-inputs a {
  text-decoration: none;
  color: var(--gold);
}

.menu-products i {
  padding: 0.5rem;
  color: var(--text-dark-gray);
}

.menu-inputs i {
  color: var(--text-dark-gray);
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1521917441209-e886f0404a7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1460&q=80");
  background-position: center;
  background-size: cover;
  height: 450px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding: 1rem;
  gap: 0.5rem;
  font-family: "inherit";
}

.hero .download-btn {
  width: 25%;
}

/* MAIN: Gallery */
.gallery h2 {
  display: flex;
  justify-content: start;
  padding: 4rem 1rem;
  font-family: "inherit";
  font-weight: 300;
}

.download-btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--gold);
  color: var(--gold);
  font-family: "Bitter", sans-serif;
  font-size: 1rem;
}

.scroll-container {
  background-color: var(--green-accent);
  overflow: auto;
  white-space: nowrap;
  padding: 0 1rem;
}

div.scroll-container img {
  padding: 0.2rem;
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  .container {
    padding: 3rem 1rem;
  }
  header {
    width: 100%;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
