:root {
  --bg: #f0f3bd;
  --main: #ffffff;
  --yellow-bar: #f6bd60;
  --green-bar: #84a59d;
  --text-dark: #22577a;
  --text-gray: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text-light);
  display: grid;
  place-items: center;
  line-height: 1.4;
  min-height: 100vh;
}
main {
  font-family: "Poppins", sans-serif;
  width: 80%;
  height: auto;
  background-color: var(--bg);
  color: var(--text-gray);
  padding: 1rem;
}

.chart {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: inherit;
}

.chart-header {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inherit";
}

.chart-header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.chart-header p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
}

.chart-header svg {
  width: 10%;
  height: auto;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.details button {
  font-size: 0.8rem;
  cursor: pointer;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  align-self: center;
  background-color: var(--bg);
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  font-family: inherit;
}
