:root {
  --bg-dark-purple: #120034;
  --bg-light-purple: #1e0057;

  --btn-light-purple: #9445ff;

  --icon-light-purple: #cfacff;

  --text-neutral-purple: #f0e5ff;
  --text-light-purple: #ae73ff;
  --text-dark-purple: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-dark-purple);
  color: var(--text-neutral-purple);
  line-height: 1.4;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--bg-light-purple);
  width: 80%;
  margin: 3rem 0;
  padding: 4rem;
  box-shadow: 5px 5px var(--bg-dark-purple);
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.grid {
  display: flex;
  gap: 5rem;
}

.grid-feature {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid-feature i {
  color: var(--icon-light-purple);
}

/* BUTTON STYLING */
.light-btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--btn-light-purple);
  color: var(--text-neutral);
  font-family: "Poppins", sans-serif;
}

.light-btn i {
  color: var(--text-neutral);
}

.view-more {
  cursor: pointer;
  width: fit-content;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light-purple);
  font-family: "Poppins", sans-serif;
}

.view-more i {
  color: var(--text-light-purple);
  vertical-align: middle;
}

/* TYPOGRAPHY */
h2 {
  font-weight: 500;
  font-size: 2rem;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

button,
p {
  font-weight: 400;
  font-size: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 390px) {
  .container {
    padding: 3rem 1rem;
    width: 95%;
  }
  h2 {
    text-align: center;
  }
  .content-header {
    width: 100%;
  }
  .grid {
    flex-direction: column;
    gap: 3rem;
  }
}
