:root {
  --bg-dark: #1c4863;
  --border: #307dab;
  --main: #08141b;
  --pink-bar: #e1ad93;
  --green-bar: #dbe193;
  --blue-bar: #93c4e1;
  --text-light: #f6fafd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  display: grid;
  place-items: center;
  line-height: 1.4;
  min-height: 100vh;
}

.header {
  background-color: var(--bg-dark);
  height: 10%;
}

.chart-area {
  background-color: var(--text-light);
}
