:root {
  --white: #fff;
  --red: #ff0002;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1575149028965-8600c15d8cb0?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  mix-blend-mode: color-dodge;
  filter: brightness(1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

/*snow*/
.doodle {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
}

/*Swiss Flag*/
.flag-swiss {
  width: 32px;
  height: 32px;
  background-color: var(--red);
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(5, 2fr);
}

.flag {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.cross {
  background-color: var(--white);
}

.cross1 {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
}

.cross2 {
  grid-column: 2 / 5;
  grid-row: 3 /4;
}
