@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
    box-sizing: border-box;
}

/*structure*/
body {
display: grid;
  place-content: center;
  font-family: "Poppins", sans-serif;
  min-height: 50vh;
  background: #E3DAD5;
}

#page-square { 
    display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2em;
  max-width: 1000px;
  min-height: 550px;
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.25), 
                0 8px 12px rgba(0,0,0,0.22);
}

#left-col {
    display: flex;
    flex-direction: column;
}

#img-container {
    position:relative;
}

#right-col {
    display: flex;
    flex-direction: column;
    gap:1em;
}

/*details*/
.img-bg {
    width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
    background-color: #E3DAD5;
    position: absolute;
    margin: 50px 20px;
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}